body{
    font-family: 'Georgia';
    color:darkslategrey;
}

.head1{
    color: white;
    margin-left: 20px;
    margin-top: 40px;
    padding: 0;
    width: 30%;
    font-family: 'Philosopher';
    font-size: 42px;
}
.header{
    background-image: url(back3.jpg);
    height: 170px;
    background-repeat: repeat-x;
    margin-bottom: 20px;
    display:flex;
    border-bottom: 1px;
    border-bottom-color: darkslategray;
    border-bottom-style: solid;
    text-decoration: none;
}

.date
{
    margin-left: 40px;
    color:dimgray;
}

.title_post{
    color: darkslategray;
    margin: 0;
    padding: 0;
    width: 70%;
    text-align: center;
    font-family: 'Philosopher';
    font-size: 40px;
}

.post_ref{
    color: darkslategray;
    margin: 0;
    padding: 0;
    width: 50%;
    text-align: center;
    font-family: 'Philosopher';
    font-size: 40px;
    text-decoration: none;
}

.text_post{
    margin: 10px 10px 30px 10px;
    padding:30px;
    font-size:20px;
    width:100%;
    background: white;
    color: darkslategray;
}

.post{
    margin-left:30px;
    width:70%;
    display:inline-block;
}

ul{
    margin-top: 7.8%;
    margin-left: 9%;
    width:28%;
    list-style-type:none;
    float:right;
    height:10%;
}
ul li{
    list-style-type: none;
}
.plus:link, .plus:visited,.plus:active,.plus:focus{
    padding:18px;
    display:block;
    text-decoration: none;
    text-align: left;
    font-size: 20px;
    float: right;
    height:30px;
    font-family: "Philosopher";
    color:darkslategray;
    height:30px;
    background-color: azure;
    
}
.plus:hover{
    color:darkslategray;
    font-size: 22px;
    height:30px;
    background-color: azure;
}

.save {
    font-family: "Philosopher";
    font-size:18px;
    width:150px;
    margin-left: 192px;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    background-color: dodgerblue;
    transition: 0.2s;
} 
a.button7:hover { background: dodgerblue; }
a.button7:active {
  background: aliceblue;
    color: darkslategrey;
}
.photos{
    display:inline-block;
}