body{
    font-family: 'Georgia';
    color:darkslategrey;
}

.head1{
    color: white;
    margin-left: 20px;
    margin-top: 40px;
    padding: 0;
    width: 40%;
    font-family: 'Philosopher';
    font-size: 48px;
}
.header{
    height: 150px;
    background-image: url(back.jpg);
    background-repeat: repeat-x;
    margin-bottom: 20px;
    display:flex;
    border-bottom: 2px;
    border-bottom-color: dodgerblue;
    border-bottom-style: solid;
    text-decoration: none;
}

.date
{
    margin-left: 40px;
    color:dimgray;
}

.title_post{
    color: darkslategray;
    margin: 0;
    padding: 0;
    width: 50%;
    text-align: center;
    font-family: 'Philosopher';
    font-size: 40px;
}

.post_ref{
    color: darkslategray;
    margin: 0;
    padding: 0;
    width: 50%;
    text-align: center;
    font-family: 'Philosopher';
    font-size: 40px;
    text-decoration: none;
}

.text_post{
    margin: 10px 10px 30px 10px;
    padding:30px;
    font-size:20px;
    width:90%;
    background: white;
    color: darkslategray;
}

.post{
    margin-left:30px;
    width:60%;
}

.plus:link, .plus:visited,.plus:active,.plus:focus{
    padding:18px;
    display:inline-flex;
    text-decoration: none;
    font-size: 20px;
    float: right;
    margin-top: 6.4%;
    margin-left:4%;
    height:30px;
    font-family: "Philosopher";
    color:darkslategray;
    height:30px;
    background-color: azure;
}
.plus:hover{
    color:darkslategray;
    font-size: 22px;
    height:30px;
    background-color: azure;
}

.save {
    font-family: "Philosopher";
    font-size:18px;
    width:150px;
    margin-left: 192px;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    background-color: dodgerblueplus;
    transition: 0.2s;
} 
a.button7:hover { background: rgb(53, 167, 110); }
a.button7:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}